.expense-date {
  width: 70px;
  background-color: darkgray;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  &__month {
    font-weight: bold;
  }

  &__year {
    font-size: 0.8em;
  }

  &__day {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
